* {
    box-sizing: border-box;
}

html,
body {
    padding: 0px;
    margin: 0px;
    background-color: #f2f4f8;
    color: #212121;
}

main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 10px 10px 10px;
    min-height: 80vh;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #fff;
    padding: 10px;
}

.header {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

footer {
    background-color: #131313;
    min-height: 20vh;
    color: #f2f4f8;
    padding: 10px;
}

.footer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}